workflows/google-contacts-birthday-mirror/workflow.json
{
  "id": "googleContactsBirthdayMirror01",
  "name": "Google Contacts Birthday Mirror",
  "active": true,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Daily Birthday Sync Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1220,
        120
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 2,
              "triggerAtMinute": 15
            }
          ]
        }
      }
    },
    {
      "id": "fetch-contacts",
      "name": "Fetch Google Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -900,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "https://people.googleapis.com/v1/people/me/connections",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "1000"
            },
            {
              "name": "personFields",
              "value": "names,birthdays,metadata"
            },
            {
              "name": "sources",
              "value": "READ_SOURCE_TYPE_CONTACT"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "pageToken",
                    "value": "={{ $response.body.nextPageToken || \"\" }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.nextPageToken }}"
            }
          }
        }
      },
      "credentials": {
        "oAuth2Api": {
          "id": "googleContactsBirthdayMirrorCred01",
          "name": "Google Contacts Birthday Mirror OAuth2"
        }
      }
    },
    {
      "id": "normalize-contacts",
      "name": "Normalize Contact Birthdays",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -580,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const MANAGED_BY = 'google-contact-birthday-sync';\nconst CALENDAR_ID = '9b70507aba42b687815ea7e0291431e150247a15d3ba1b4dda66fb9dc888f259@group.calendar.google.com';\nconst TIMEZONE = 'Europe/Berlin';\nconst NOTIFICATION_HOUR = 14;\nconst NOTIFICATION_MINUTE = 0;\nconst EVENT_DURATION_MINUTES = 30;\nconst pages = $input.all();\n\nfunction pad(value) {\n  return String(value).padStart(2, '0');\n}\n\nfunction isLeapYear(year) {\n  return (year % 4 === 0 && year % 100 !== 0) || year % 400 === 0;\n}\n\nfunction getLocalParts(date, timeZone) {\n  const formatter = new Intl.DateTimeFormat('en-CA', {\n    timeZone,\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false,\n  });\n  const values = {};\n  for (const part of formatter.formatToParts(date)) {\n    if (part.type !== 'literal') {\n      values[part.type] = part.value;\n    }\n  }\n  return {\n    year: Number(values.year),\n    month: Number(values.month),\n    day: Number(values.day),\n    hour: Number(values.hour),\n    minute: Number(values.minute),\n    second: Number(values.second),\n  };\n}\n\nfunction getOffsetMinutes(date, timeZone) {\n  const formatter = new Intl.DateTimeFormat('en-US', {\n    timeZone,\n    timeZoneName: 'shortOffset',\n    hour: '2-digit',\n    minute: '2-digit',\n  });\n  const zonePart = formatter.formatToParts(date).find((part) => part.type === 'timeZoneName')?.value ?? 'GMT+00:00';\n  const match = zonePart.match(/^GMT([+-])(\\d{1,2})(?::?(\\d{2}))?$/);\n  if (!match) {\n    throw new Error(`Unable to parse timezone offset: ${zonePart}`);\n  }\n  const sign = match[1] === '-' ? -1 : 1;\n  const hours = Number(match[2]);\n  const minutes = Number(match[3] ?? '0');\n  return sign * ((hours * 60) + minutes);\n}\n\nfunction toRfc3339InTimeZone(year, month, day, hour, minute, timeZone) {\n  let guess = new Date(Date.UTC(year, month - 1, day, hour, minute, 0));\n  for (let i = 0; i < 4; i += 1) {\n    const local = getLocalParts(guess, timeZone);\n    const desiredUtc = Date.UTC(year, month - 1, day, hour, minute, 0);\n    const actualUtc = Date.UTC(local.year, local.month - 1, local.day, local.hour, local.minute, local.second);\n    const diffMs = desiredUtc - actualUtc;\n    if (diffMs === 0) {\n      break;\n    }\n    guess = new Date(guess.getTime() + diffMs);\n  }\n  const offsetMinutes = getOffsetMinutes(guess, timeZone);\n  const sign = offsetMinutes >= 0 ? '+' : '-';\n  const absoluteOffset = Math.abs(offsetMinutes);\n  const offsetHours = Math.floor(absoluteOffset / 60);\n  const offsetRemainderMinutes = absoluteOffset % 60;\n  return `${year}-${pad(month)}-${pad(day)}T${pad(hour)}:${pad(minute)}:00${sign}${pad(offsetHours)}:${pad(offsetRemainderMinutes)}`;\n}\n\nfunction addMinutesToRfc3339(rfc3339, minutesToAdd) {\n  const date = new Date(rfc3339);\n  date.setUTCMinutes(date.getUTCMinutes() + minutesToAdd);\n  const offsetMatch = rfc3339.match(/([+-]\\d{2}:\\d{2}|Z)$/);\n  if (!offsetMatch) {\n    throw new Error(`Missing offset in RFC3339 string: ${rfc3339}`);\n  }\n  const offset = offsetMatch[1];\n  const offsetMinutes = offset === 'Z'\n    ? 0\n    : ((offset[0] === '-' ? -1 : 1) * ((Number(offset.slice(1, 3)) * 60) + Number(offset.slice(4, 6))));\n  const localTime = new Date(date.getTime() + (offsetMinutes * 60 * 1000));\n  return `${localTime.getUTCFullYear()}-${pad(localTime.getUTCMonth() + 1)}-${pad(localTime.getUTCDate())}T${pad(localTime.getUTCHours())}:${pad(localTime.getUTCMinutes())}:00${offset}`;\n}\n\nfunction chooseName(person) {\n  const names = person.names ?? [];\n  const preferred = names.find((entry) => entry.metadata?.primary) ?? names[0];\n  return preferred?.displayName?.trim() || null;\n}\n\nfunction chooseBirthday(person) {\n  const birthdays = (person.birthdays ?? [])\n    .filter((entry) => entry.date?.month && entry.date?.day)\n    .sort((left, right) => {\n      const leftScore = left.metadata?.primary ? 0 : 1;\n      const rightScore = right.metadata?.primary ? 0 : 1;\n      return leftScore - rightScore;\n    });\n  return birthdays[0] ?? null;\n}\n\nconst currentYear = new Date().getFullYear();\nconst targetYears = [currentYear, currentYear + 1];\nconst desiredEvents = [];\nconst seenKeys = new Set();\nlet contactsWithBirthdays = 0;\n\nfor (const page of pages) {\n  const connections = page.json.connections ?? [];\n  for (const person of connections) {\n    const contactKey = person.resourceName;\n    const name = chooseName(person);\n    const birthday = chooseBirthday(person);\n    if (!contactKey || !name || !birthday?.date?.month || !birthday?.date?.day) {\n      continue;\n    }\n\n    contactsWithBirthdays += 1;\n    const birthYear = Number.isInteger(birthday.date.year) ? birthday.date.year : null;\n    const month = birthday.date.month;\n    const day = birthday.date.day;\n\n    for (const eventYear of targetYears) {\n      if (month === 2 && day === 29 && !isLeapYear(eventYear)) {\n        continue;\n      }\n\n      const eventKey = `${contactKey}::${eventYear}`;\n      if (seenKeys.has(eventKey)) {\n        continue;\n      }\n      seenKeys.add(eventKey);\n\n      const startDate = `${eventYear}-${pad(month)}-${pad(day)}`;\n      const startDateTime = toRfc3339InTimeZone(eventYear, month, day, NOTIFICATION_HOUR, NOTIFICATION_MINUTE, TIMEZONE);\n      const endDateTime = addMinutesToRfc3339(startDateTime, EVENT_DURATION_MINUTES);\n      const age = birthYear !== null ? eventYear - birthYear : null;\n      const summary = age !== null ? `${name} Birthday (${age})` : `${name} Birthday`;\n\n      desiredEvents.push({\n        eventKey,\n        contactKey,\n        eventYear: String(eventYear),\n        summary,\n        startDate,\n        startDateTime,\n        endDateTime,\n        description: `Managed by ${MANAGED_BY}. Source contact: ${contactKey}`,\n        privateProperties: {\n          managedBy: MANAGED_BY,\n          contactKey,\n          eventYear: String(eventYear),\n        },\n      });\n    }\n  }\n}\n\ndesiredEvents.sort((left, right) => left.startDate.localeCompare(right.startDate) || left.summary.localeCompare(right.summary));\n\nreturn [{\n  json: {\n    managedBy: MANAGED_BY,\n    calendarId: CALENDAR_ID,\n    timezone: TIMEZONE,\n    windowStart: `${currentYear}-01-01T00:00:00Z`,\n    windowEnd: `${currentYear + 2}-01-01T00:00:00Z`,\n    targetYears,\n    contactsWithBirthdays,\n    desiredEventCount: desiredEvents.length,\n    desiredEvents,\n  },\n}];"
      }
    },
    {
      "id": "list-existing-events",
      "name": "List Managed Calendar Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -260,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://www.googleapis.com/calendar/v3/calendars/' + encodeURIComponent($('Normalize Contact Birthdays').first().json.calendarId) + '/events' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "specifyQuery": "keypair",
        "queryParameters": {
          "parameters": [
            {
              "name": "maxResults",
              "value": "2500"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            },
            {
              "name": "privateExtendedProperty",
              "value": "={{ 'managedBy=' + $('Normalize Contact Birthdays').first().json.managedBy }}"
            },
            {
              "name": "timeMin",
              "value": "={{ $('Normalize Contact Birthdays').first().json.windowStart }}"
            },
            {
              "name": "timeMax",
              "value": "={{ $('Normalize Contact Birthdays').first().json.windowEnd }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "pagination": {
            "pagination": {
              "paginationMode": "updateAParameterInEachRequest",
              "parameters": {
                "parameters": [
                  {
                    "type": "qs",
                    "name": "pageToken",
                    "value": "={{ $response.body.nextPageToken || \"\" }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ !$response.body.nextPageToken }}"
            }
          }
        }
      },
      "credentials": {
        "oAuth2Api": {
          "id": "googleContactsBirthdayMirrorCred01",
          "name": "Google Contacts Birthday Mirror OAuth2"
        }
      }
    },
    {
      "id": "diff-events",
      "name": "Plan Calendar Changes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60,
        0
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const summary = $('Normalize Contact Birthdays').first().json;\nconst pages = $input.all();\nconst existingEvents = [];\nfor (const page of pages) {\n  for (const event of page.json.items ?? []) {\n    existingEvents.push(event);\n  }\n}\n\nconst reminderMinutes = 0;\n\nfunction buildBody(desired) {\n  return {\n    summary: desired.summary,\n    description: desired.description,\n    start: {\n      dateTime: desired.startDateTime,\n      timeZone: summary.timezone,\n    },\n    end: {\n      dateTime: desired.endDateTime,\n      timeZone: summary.timezone,\n    },\n    extendedProperties: { private: desired.privateProperties },\n    reminders: {\n      useDefault: false,\n      overrides: [\n        {\n          method: 'popup',\n          minutes: reminderMinutes,\n        },\n      ],\n    },\n  };\n}\n\nfunction buildDeleteAction(eventKey, existing) {\n  return {\n    json: {\n      operation: 'delete',\n      method: 'DELETE',\n      url: `https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(summary.calendarId)}/events/${encodeURIComponent(existing.id)}`,\n      eventKey,\n      summary: existing.summary,\n      existingEventId: existing.id,\n    },\n  };\n}\n\nfunction buildCreateAction(desired) {\n  return {\n    json: {\n      operation: 'create',\n      method: 'POST',\n      url: `https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(summary.calendarId)}/events`,\n      body: buildBody(desired),\n      eventKey: desired.eventKey,\n      summary: desired.summary,\n    },\n  };\n}\n\nfunction hasMatchingReminder(existing) {\n  const reminders = existing.reminders ?? {};\n  if (reminders.useDefault !== false) {\n    return false;\n  }\n  const overrides = reminders.overrides ?? [];\n  return overrides.length === 1\n    && overrides[0]?.method === 'popup'\n    && overrides[0]?.minutes === reminderMinutes;\n}\n\nfunction isEquivalent(existing, desired) {\n  const privateProps = existing.extendedProperties?.private ?? {};\n  return existing.summary === desired.summary\n    && existing.description === desired.description\n    && existing.start?.dateTime === desired.startDateTime\n    && existing.start?.timeZone === summary.timezone\n    && existing.end?.dateTime === desired.endDateTime\n    && existing.end?.timeZone === summary.timezone\n    && !existing.start?.date\n    && !existing.end?.date\n    && privateProps.managedBy === desired.privateProperties.managedBy\n    && privateProps.contactKey === desired.privateProperties.contactKey\n    && privateProps.eventYear === desired.privateProperties.eventYear\n    && hasMatchingReminder(existing);\n}\n\nfunction requiresRecreate(existing) {\n  return Boolean(existing.start?.date || existing.end?.date);\n}\n\nconst existingByKey = new Map();\nfor (const event of existingEvents) {\n  const privateProps = event.extendedProperties?.private ?? {};\n  if (privateProps.managedBy !== summary.managedBy || !privateProps.contactKey || !privateProps.eventYear) {\n    continue;\n  }\n  existingByKey.set(`${privateProps.contactKey}::${privateProps.eventYear}`, event);\n}\n\nconst actions = [];\nfor (const desired of summary.desiredEvents) {\n  const existing = existingByKey.get(desired.eventKey);\n  if (!existing) {\n    actions.push(buildCreateAction(desired));\n    continue;\n  }\n\n  if (!isEquivalent(existing, desired)) {\n    if (requiresRecreate(existing)) {\n      actions.push(buildDeleteAction(desired.eventKey, existing));\n      actions.push(buildCreateAction(desired));\n    } else {\n      actions.push({\n        json: {\n          operation: 'update',\n          method: 'PATCH',\n          url: `https://www.googleapis.com/calendar/v3/calendars/${encodeURIComponent(summary.calendarId)}/events/${encodeURIComponent(existing.id)}`,\n          body: buildBody(desired),\n          eventKey: desired.eventKey,\n          summary: desired.summary,\n          existingEventId: existing.id,\n        },\n      });\n    }\n  }\n}\n\nconst desiredKeys = new Set(summary.desiredEvents.map((entry) => entry.eventKey));\nfor (const [eventKey, existing] of existingByKey.entries()) {\n  if (desiredKeys.has(eventKey)) {\n    continue;\n  }\n  actions.push(buildDeleteAction(eventKey, existing));\n}\n\nreturn actions;"
      }
    },
    {
      "id": "apply-event-changes",
      "name": "Apply Event Upserts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        600,
        -120
      ],
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          },
          "response": {
            "response": {
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "credentials": {
        "oAuth2Api": {
          "id": "googleContactsBirthdayMirrorCred01",
          "name": "Google Contacts Birthday Mirror OAuth2"
        }
      }
    },
    {
      "id": "route-delete-actions",
      "name": "Is Delete Action",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        360,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "delete-check",
              "leftValue": "={{ $json.operation }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "apply-delete-actions",
      "name": "Apply Event Deletes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        600,
        120
      ],
      "parameters": {
        "method": "={{ $json.method }}",
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 1000
            }
          },
          "response": {
            "response": {
              "responseFormat": "autodetect"
            }
          }
        }
      },
      "credentials": {
        "oAuth2Api": {
          "id": "googleContactsBirthdayMirrorCred01",
          "name": "Google Contacts Birthday Mirror OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Daily Birthday Sync Schedule": {
      "main": [
        [
          {
            "node": "Fetch Google Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Google Contacts": {
      "main": [
        [
          {
            "node": "Normalize Contact Birthdays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Contact Birthdays": {
      "main": [
        [
          {
            "node": "List Managed Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Managed Calendar Events": {
      "main": [
        [
          {
            "node": "Plan Calendar Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan Calendar Changes": {
      "main": [
        [
          {
            "node": "Is Delete Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Delete Action": {
      "main": [
        [
          {
            "node": "Apply Event Deletes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Apply Event Upserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "meta": null,
  "staticData": null,
  "tags": [],
  "versionId": "d1aa8951-a38d-49ec-9355-373a3efee7ef"
}
